 /*Universal*/
h2, h3{
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
body{
	background: rgba(1, 1, 1, 0.8);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    font-family: Arial, Verdana, Helvetica, sans-serif;

}

.center-jumbo{
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	border-radius: 10px;
}

/*editando menu*/

.cor-logo{
	color: #ffa41a !important;
}

.bg-menu{
	background: rgba(0, 0, 0, 0.8);
}

.nav-item .nav-link{
	color: #ffa41a !important;
	font-size: 1em;
	text-transform: uppercase;
}
.nav-item .barra{
	color: white !important;
}
.navbar-brand{
	font-size: 1.3em;
}
/*EDITANDO O PARALLAX*/
#capa{
	background: url("http://freefiremobile-a.akamaihd.net/ffwebsite/images/hq.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 100vh;
	min-height: 650px;
}
.slonga{
	background: url(http://freefiremobile-a.akamaihd.net/ffwebsite/images/slogan2.png);
	background-repeat: no-repeat;
	position: fixed;
	background-attachment: scroll;
	background-position: center;
	height: 35vh;
}
.hr{
	border: 2px solid white;
	max-width: 45px;
	border-radius: 100px;
	margin: 15px auto;
}
.faixa-preta{

	background: rgba(1, 1, 1, 0.6);
	padding: 15px 0px 15px 0px;	
}
.title{
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	font-size: 4rem;
	color: white;
	text-shadow: 4px 1px 2px black;
	font-weight: bolder;
}

.desc{
	font-size: 1.15rem;
	text-align: center;
	color: white;
	text-shadow: 1px 2px 1px black;
}


.center{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*editando background de campeonato*/
.bg-conteudo{
	background: rgba(1, 1, 1, 0.8);
}
/*editando o conteduo*/

.text-title{
	text-transform: uppercase;
    word-break: break-word;
	color: #222;
	border-bottom: 1px solid black;
}
.camp-block{
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
}

.link-camp{
	word-break: break-word;
	font-weight: bold;
}

.desc-camp{
	font-size: 0.8em;
	font-style: italic;
}

.rounde-botao{
	border-radius: 0 !important;
}

/*rodape*/
#rodape{
	background-color: #111;
	border-top: 1px solid;
	color: white; 
}